.profile {
  display: flex;
}

.profileWrapper {
  flex: 9;
  padding: 50px 200px;
}

.profileTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileInfoContainer {
  display: flex;
  flex-direction: column;
}

.mouse {
  cursor: pointer;
}

.profileForm {
  display: flex;
  flex-direction: column;
}

.profilePic {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.profilePic > img {
  width: 170px;
  height: 170px;
  border-radius: 100px;
  object-fit: cover;
}

.profilePicIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9e9e9ec2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 122px;
  margin-left: -40px;
  cursor: pointer;
}

.profileForm > label {
  font-size: 20px;
  margin-top: 20px;
}

.profileForm > input {
  color: gray;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.profileInfo {
  color: #000000cf;
  margin-left: 12px;
  margin-top: 40px;
}

.postCounts {
  margin-top: 10px;
  color: #000000c9;
}
.postCategories {
  margin-top: 4px;
  color: #000000c9;
}

.profileAction {
  margin-right: 10px;
  margin-left: auto;
  margin-top: 130px;
}

.profileSubmit {
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}
.uploadPic {
  width: 100px;
  border: none;
  border-radius: 7px;
  color: white;
  background-color: teal;
  padding: 5px;
  margin-top: 7px;
  margin-left: 27px;
  cursor: pointer;
}
